html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: #272424;
  color: white;
  font-size: larger;
}

.name {
  font-size: 4rem;
}

.hero {
  overflow: hidden;
}

.projectCard {
  background-color: #3a3939;
  height: 100%;
  border-radius: 0;
  transition: all linear .3s;
}

.blogCard {
  background-color: #3a3939;
  height: 100%;
  width: 45%;
  border-radius: 0;
  transition: all linear .3s;
  
}
.blogCard:hover {
  background-color: #536878;
  cursor: pointer;
  box-shadow: black;
  transition: all linear .15s;
}


.text {
  display: none;
}

.projectCard:hover {
  background-color: #536878;
  cursor: pointer;
  box-shadow: black;
  transition: all linear .15s;
}


.link {
  color: rgb(114, 114, 114);
  text-decoration: none;
  transition: all linear .15s;
}

.link:hover {
  color: white;
}
.link1 {
  color: rgb(219, 219, 219);
  text-decoration: none;
  transition: all linear .15s;
}

.link1:hover {
  color: white;
}

.active {
  color: white;
  font-size: x-large;

}

.secondaryText{
  color: rgb(219, 219, 219);
}

.techCard {
  background-color: #3a3939;
  width: 23%;
  padding-inline: 2rem;
  padding-block: 1.1rem;
  transition: background-color linear .15s;
}

.techCard:hover {
  background-color: #536878;
  cursor: pointer;
}

@media screen and (max-width : 768px) {
  .techCard {
    background-color: #3a3939;
    width: 30%;
    padding: .4rem;
  }
}

.button {
  padding: .6rem;
  padding-inline: 1rem;
  margin-block: 1rem !important;
  display: inline-block !important;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  border: .1rem solid  #272424;
  transition: .2s linear;
  opacity: 0.7;
}
.button:hover {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
  color: white;
  background-color: #272424 ;
  opacity: 1;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #272424 0%, transparent 100%);
  height: 1.5rem;
}
/* 
.shortText{
  font-size: medium;
  color: #d1d1d1;
  margin-top: 1rem;
} */


.form-control{
	box-shadow: none !important
}

.btn{
	box-shadow: none !important
}
