html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: #272424;
  color: white;
  font-size: larger;
}

.name {
  font-size: 4rem;
}

.hero {
  overflow: hidden;
}

.projectCard {
  background-color: #3a3939;
  height: 100%;
  border-radius: 0;
  transition: all linear .3s;
}

.text{
  display: none;
}

.projectCard:hover {
  background-color: blue;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: black;
  transition: all linear .3s;
}
.projectCard:hover  .text {
  display: block;
  transition: all linear .3s;
}